* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ql-toolbar {
  position: absolute;
  bottom: -32px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  width: 95%;
  border-radius: 15px;
  background-color: white;
  border: 1px solid rgb(182, 182, 182) !important;
}

.ql-container {
  padding-bottom: 50px;
  border-radius: 15px;
  border: 1px solid rgb(182, 182, 182) !important;
  max-width: 100%;
  width: 100%;
  height: 55vh !important;
  overflow-y: auto;
}
