<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Request</title>
</head>

<body>
    <p>You have an appointment scheduled with the following details:</p>
    <ul>
        <li>Student: <strong>{{ student }}</strong></li>
        <li>Instructor: <strong>{{ instructor }}</strong></li>
        <li>Lesson: <strong>{{ lesson }}</strong></li>
        <li>Date: <strong>{{ appointment_date }}</strong></li>
        <li>Start-Time: <strong>{{ start_time }}</strong></li>
        <li>End-Time: <strong>{{ end_time }}</strong></li>
        <li>Location: <strong>{{ pickup_location }}</strong></li>
        <li>Address: <strong>{{ address }}</strong></li>
    </ul>
    <p>If you would like to add the appointment to your calendar, please feel free to download the attached file.</p>
    <p>We appreciate your time and look forward to our appointment.</p>
</body>

</html>
