.table{
    width: 100%;
    max-width: 520px;
}

.table td{
    padding-bottom: 20px;
    text-align: left;
    font-weight: 500;
    line-height: 16px;
    font-size: 16px;
    color : #000
}

.table td:first-child {
    font-weight: 500;
    color : #4F5B67
  }